[submodule "libbpf"]
	path = libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "bpftool"]
	path = bpftool
	url = https://github.com/libbpf/bpftool
[submodule "tests/vm"]
	path = tests/vm
	url = git@github.com:skorpion17/linux-kernel-qemu-setup.git
	branch = ioam6-gob_v1
[submodule "kernel/linux"]
	path = kernel/linux
	url = git@github.com:skorpion17/srv6-dev-net-next.git
	branch = ioam6-gob_v1
[submodule "iproute2"]
	path = iproute2
	url = git@github.com:skorpion17/srv6-iproute2.git
	branch = ioam-gob_v1
