[submodule "libbpf"]
	path = libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "bpftool"]
	path = bpftool
	url = https://github.com/libbpf/bpftool
[submodule "tests/vm"]
	path = tests/vm
	url = https://github.com/netgroup/ioam-gob-linux-kernel-qemu-setup.git
	branch = ioam6-gob_v1
[submodule "kernel/linux"]
	path = kernel/linux
	url = https://github.com/netgroup/linux-kernel-dev.git
	branch = ioam6-gob_v2
[submodule "iproute2"]
	path = iproute2
	url = https://github.com/netgroup/linux-iproute2-dev.git
	branch = ioam6-gob_v1
